body {
  background: linear-gradient(180deg, #260f6b, #010927, #000000);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  padding: 30px;
}

.imagem-esquerda {
  float: left;
  text-align: left;
  margin-left: 120px;
  border-radius: 80px;
  margin-top: 20px;
  max-height: 250px;
}

.texto-direita {
  float: right;
  text-align: right;
  margin-right: 140px;
  color: #00D1FF;
  font-size: 25px;
  margin-top: 7%;
}
.texto-central {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 30%;
text-align: left;
margin-bottom: 200px;
}

.fundo-inferior {
  background-color: #011457; /* Cor de fundo para cobrir a parte inferior */
  height: 300px; /* Altura desejada para cobrir a parte inferior */
}
