body {
  background: linear-gradient(180deg, #260f6b, #010927, #000000);
  color: white;
  margin: 0;
  padding: 0;
}
header {
  overflow: hidden;
  padding: 200px;
}
.imagem-esquerda {
  float: left;
  text-align: left;
  border-radius: 80px;
  max-height: 250px;
  margin-top: -100px;

}
.texto-direita {
  float: right;
  text-align: right;
  color: #00D1FF;
  font-size: 25px;
  position: relative;
  margin-right: 180px;
  margin-top: -41%;
  clear: both;
  margin-bottom: 20px;
  font-style: oblique;
}
.texto-central {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 10%;
  text-align: left;
  margin-bottom: 100px;
  font-style: oblique;
  margin-left: 45px;
  text-align: justify;
  margin-right: 350px;
}
.imagem-perfil {
  width: 100px;
  height: 100px;
  background-color: #000000;
  border-radius:100%;
float: right;
  margin-top: -70px;
  margin-right: -10%;
}
.pergunta-central {
text-align: left;
margin-left: 45px;
font-size: 35px;
font-style: initial;
margin-bottom: 30px;
}
.imagem-decorativa{
height: 400px;
display: flex;
padding-top: 10%;
float: right;
margin-right: 110px;
}